/* Temas del segundo período*/

.texto{
    margin:2% 0 0 25% ;
    font-size: 50px;
    padding-top: 140px;
    text-align: center;
    color:white;
    @import url(<link href="https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&display=swap" rel="stylesheet">)
}
.principal{
   display: flex;
     
}
body{

    background-image: url("pexels-mahdibafande-13800327.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
.titulo{
    font-size: 50px;
    color: #ffffff;
}

.tc{
    color:white; 
    align-items: center;
    text-align: center;
}
.img{
    width: 800px;
    height: 500px;
}