/* Temas del segundo período*/

.texto{
   
    font-size: 50px;
    padding-top: 140px;
    text-align: justify;
    color:white
}
.principal{
   display: flex;
     
}
body{
    background-image: url("binary-2904980_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.titulo{
    font-size: 50px
    ; color:white
}